.info {
    height: 100%;
}

.info__title, 
.info__content {
    display: flex;
    padding: 0 40px;
}

.info__title {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    height: 13vh;

    .header {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 1px;
        font-family: HelveticaNeue, Helvetica, sans-serif;
        color: black;
    }

    .rating {
        display: flex;
        align-items: center;
    }
}

.info__content {
    text-align: left;
    justify-content: center;
    flex-direction: column;
    height: 26vh;
    h2 {
        font-family: HelveticaNeueBd, Helvetica, sans-serif;
        font-size: 27px;
        margin-bottom: 5px;
    }
    p {
        font-size: 19px;
        line-height: 22px;
        font-family:  HelveticaNeue;
    }
}
