.card {
    font-family: HelveticaNeue, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    cursor: pointer;
    margin-right: 35px;
    text-align:left;
}

.card:hover,
.card:active {
    filter: grayscale(1);
}

.card__image {
    width: 200px;
    height: 130px;

    .number-episode {
        width: 30px;
        height: 30px;
        font-size: 16px;
        padding: 5px;
        vertical-align: center;
        background-color: white;
        font-family: HelveticaNeueBd, Helvetica, sans-serif;
    }
}

.card__content {
    padding: 20px 0;
    color: white;
    font-family: HelveticaNeue, Helvetica, sans-serif;
    font-size: 15px;
}